* {
   box-sizing: border-box;
}

/* Grid container used as a container for all semantic elements: head, main
   aside, footer, etc. */
.main-layout {
    display: grid;
    margin: 0 auto;
    background-color: #707070;
    grid-template-columns: auto 1250px auto;
    grid-template-areas:
            "side_left header side_right"
            "side_left main side_right"
            "side_left footer side_right";
    gap: 20px;
}

/* All direct children of a grid-container becomes grid-items */
.main-header {
    grid-area: header;
    background-color: white;
}

.main-container {
    grid-area: main;
    background-color: white;

}

.side_left {
    grid-area: side_left;
}

.side_right {
    grid-area: side_right;
}

.main-footer {
    grid-area: footer;
    background-color: white;
}

@media (max-width: 1250px) {
    .main-layout {
        grid-template-columns: 100%;
        grid-template-areas:
                "header"
                "main"
                "footer";
        /*justify-content: center;*/
    }
}

/*ul{
    list-style-type:none;
}*/

/*.list_with_point{
    list-style: circle;
}*/

/*nav{
    border-style: solid;
    border-color: black;
    border-width:5px ;
    width: 80px;
    padding: 10px;
    float: top;
    margin:5px;
    background-color: beige;
    text-align:center
}*/

/*.a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: size 14px;
    text-decoration:none;
}*/

/*.a:hover{
    color: red;
    text-decoration: underline;
}*/